<h1>
  {{title}}
</h1>

<div style="margin: 10px 0;">
  <button pc-button>Ready</button>
  <button pc-button primary>For</button>
  <button pc-button accent>Your</button>
  <button pc-button warn>Touch</button>
  <button pc-button flat>Flat</button>
  <button pc-button disabled="disabled">(disabled)</button>
</div>

<div style="margin: 10px 0;">
  <a pc-button>Ready</a>
  <a pc-button primary>For</a>
  <a pc-button accent>Something</a>
  <a pc-button warn>New</a>
  <a pc-button flat>Flat</a>
  <a pc-button disabled="disabled">(disabled)</a>
</div>
