
<h1>Buttons</h1>

<p>There are two basic categories of button-like objects: buttons and anchors.
  Both are based on the existing <code>&lt;button&gt;</code> and 
  <code>&lt;a&gt;</code> components in your browser; they are invoked by
  adding the custom property <code>pc-button</code> or <code>pc-flat-button</code>
  for a flat (borderless) button.</p>

<h2>Usage</h2>

<p>The <code>&lt;button&gt;</code> tag should be used when performing an action
  on the current view; the <code>&lt;a&gt;</code> tag should be used when navigating to
  another view.</p>

<h2>Examples</h2>

<div class="docs-example-wrapper">

  <div class="docs-example">
    <code>default</code>
    <div>
      <a pc-button>Anchor</a>
      <button pc-button><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[disabled="disabled"]</code>
    <div>
      <a pc-button disabled="disabled">Anchor</a>
      <button pc-button disabled="disabled"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="primary"]</code>
    <div>
      <a pc-button intent="primary">Anchor</a>
      <button pc-button intent="primary"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="success"]</code>
    <div>
      <a pc-button intent="success">Anchor</a>
      <button pc-button intent="success"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="warning"]</code>
    <div>
      <a pc-button intent="warning">Anchor</a>
      <button pc-button intent="warning"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="danger"]</code>
    <div>
      <a pc-button intent="danger">Anchor</a>
      <button pc-button intent="danger"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[active]</code>
    <div>
      <a pc-button active>Anchor</a>
      <button pc-button active><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[size=small]</code>
    <div>
      <a pc-button size="small">Anchor</a>
      <button pc-button size="small"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[size=large]</code>
    <div>
      <a pc-button size="large">Anchor</a>
      <button pc-button size="large"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example" style="flex: 1 0 auto;">
    <code>[fill]</code>
    <div>
      <a pc-button fill>Anchor</a>
      <button pc-button fill><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

</div>

<h2>Flat Examples</h2>

<div class="docs-example-wrapper">

  <div class="docs-example">
    <code>default</code>
    <div>
      <a pc-flat-button>Anchor</a>
      <button pc-flat-button><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[disabled="disabled"]</code>
    <div>
      <a pc-flat-button disabled="disabled">Anchor</a>
      <button pc-flat-button disabled="disabled"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="primary"]</code>
    <div>
      <a pc-flat-button intent="primary">Anchor</a>
      <button pc-flat-button intent="primary"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="success"]</code>
    <div>
      <a pc-flat-button intent="success">Anchor</a>
      <button pc-flat-button intent="success"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="warning"]</code>
    <div>
      <a pc-flat-button intent="warning">Anchor</a>
      <button pc-flat-button intent="warning"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[intent="danger"]</code>
    <div>
      <a pc-flat-button intent="danger">Anchor</a>
      <button pc-flat-button intent="danger"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[active]</code>
    <div>
      <a pc-flat-button active>Anchor</a>
      <button pc-flat-button active><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[size=small]</code>
    <div>
      <a pc-flat-button size="small">Anchor</a>
      <button pc-flat-button size="small"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example">
    <code>[size=large]</code>
    <div>
      <a pc-flat-button size="large">Anchor</a>
      <button pc-flat-button size="large"><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

  <div class="docs-example" style="flex: 1 0 auto;">
    <code>[fill]</code>
    <div>
      <a pc-flat-button fill>Anchor</a>
      <button pc-flat-button fill><!-- TODO: <pc-icon></pc-icon> --> Button</button>
    </div>
  </div>

</div>

<h1>Cards</h1>

<p>Cards describe a related set of information or controls, usually with a heading 
  or footer (or both), and sometimes with a set of actions that can be performed,
  such as the submission of data entered into a form in the card content.</p>

<p>Cards are distinct from <em>widgets</em>, which are discrete functionality but
  typically *do not* have heading/footer with the traditional action buttons
  at the bottom of the widget. See widget documentation for details.</p>

<div class="docs-example-wrapper">

  <div class="docs-example" style="flex: 1 0 auto; max-width: 400px;">
    <code>pc-card</code>
    <div>
      
      <pc-card class="example-card" tabindex="0">
        
        <pc-card-header>
          <h1 pc-card-title>Card Title</h1>
          <pc-card-subtitle>Card Subtitle (optional)</pc-card-subtitle>
        </pc-card-header>

        <!-- <img pc-card-image src="assets/img/examples/shiba2.jpg"> -->

        <pc-card-content>
          <p>
            Your card content, whatever it may be, goes here.
            What happens when the content needs to be wider?
          </p>
        </pc-card-content>

        <pc-card-actions>
          <button pc-button intent="primary">Primary</button>
          <button pc-flat-button intent="">Alternate</button>
        </pc-card-actions>
        
        
      </pc-card>
      
    </div>
  </div>
</div>
